# Environnement virtuel Python
Env/
Env/
.Env/
# jars/
Jar/
*.jar
# Variables d'environnement (Sécurité !)
.env
*.env

# Docker et Volumes (Données locales)
volumes/
.docker/

# Python et fichiers temporaires
__pycache__/
*.py[cod]
*$py.class

# IDE
.vscode/
.idea/